<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta content="" name="description" />
            <meta content="webthemez" name="author" />
            <title>{% block title %}Gestion de bibliothèque{% endblock %}</title>
            <!-- Bootstrap Styles-->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
            <!-- FontAwesome Styles-->
            <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" />
            <!-- Custom Styles-->
            <link href="{{ asset('css/custom-styles.css') }}" rel="stylesheet" />
            <!-- Google Fonts-->
              <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
       <div id="wrapper">
           <!-- barre horiz TOP  -->
                {% include('top.html.twig') %}
           <!--/. NAV TOP  -->
                {% include('menu.html.twig') %}

           <!-- /. NAV SIDE  -->
           <div id="page-wrapper">
               <div class="header">
                   <h1 class="page-header">
                       {% block titre %}
                           {{ titre}} <small>{{ soustitre }}</small>

                       {% endblock %}
                   </h1>
                   <ol class="breadcrumb">
                       <li><a href="{{ path('acceuil') }}">Acceil</a></li>
                       <li><a href="{{ lien }}">{{ titre }}</a></li>
                       <li class="active">{{ soustitre }}</li>
                   </ol>


               </div>
               <div id="page-inner">

                   <div class="row">
                       {% block mainbody %}
                       <div class="col-md-12">
                           <!-- Advanced Tables -->
                           <div class="panel panel-default">

                               <div class="panel-body">

                                        {% block body %}{% endblock %}
                                   </div>
                               </div>
                           </div>
                       {% endblock %}
                       </div>
               </div>







           {% include('piedpage.html.twig') %}

               <!-- /. PAGE INNER  -->
           </div>

       </div>
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <script src="{{ asset('js/jquery-1.10.2.js')}}"></script>
        <!-- Bootstrap Js -->
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <!-- Metis Menu Js -->
        <script src="{{asset('js/jquery.metisMenu.js')}}"></script>
        <!-- Custom Js -->
        <script src="{{ asset('js/custom-scripts.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
