<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{ path('index_auteur') }}"><i class="fa fa-user"></i> Auteurs</a>

            </li>
            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-pencil"></i> Editeutrs</a>

            </li>
            <li>
                <a href="{{ path('utilisateurs_index') }}"><i class="fa fa-users"></i> Utilisateurs</a>

            </li>
            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-folder"></i> Catégories</a>

            </li>
            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i> livres</a>

            </li>
            <li>
                <a href="{{ path('emprunt') }}"><i class="fa fa-book"></i> emprunts</a>

            </li>

        </ul>

    </div>

</nav>
